.row {
    margin: 20px;
}

.img {
    max-width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.disabled, .btn:disabled {
    opacity: .25;
}

#split-card-section {
    display: none;
}

body {
    background-color: #477148;
}

p, h1 {
    color: lemonchiffon;
}

.active {
    border: 5px solid yellow;
}