.row {
    margin: 20px;
}

.img {
    max-width: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.btn.disabled, .btn:disabled {
    /* opacity: .25; */
    display: none;
}

#split-card-section {
    display: none;
}

body {
    background-color: #477148;
}

p, h1 {
    color: lemonchiffon;
}

h1 {
    margin: 0px;
}

.active {
    border: 5px solid yellow;
}